* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0E3854;
    color: #FFF;
    font-family: Helvetica;
}

.header .name > h2 {
    font-size: 1.6rem;
    margin-left: 3%;
    margin-top: 3%;
}

@media only screen and (max-width:700px) {
    .header .name > h2 {
        display: block;
        text-align: center;
    }
}

.header .profilepicture > img {
    width: 170px; height: 170px;
    display: block;
    margin-left: auto; margin-right: auto;
    margin-top: -2%;
    border-radius: 50%;
}

@media only screen and (max-width:700px) {
    .header .profilepicture > img {
        display: block;
        text-align: center;
        width: 170px; height: 170px;
        border-radius: 50%;
        margin-top: 6%;
    }
}

.content a {
    color: #FFF;
    text-decoration: none;
    font-size: 30px;
    display: block;
    padding-top: 13px;
}

.content .instagram {
    display: block;
    margin-left: auto; margin-right: auto;
    background-color: #FF7C1F;
    width: 80%;
    height: 60px;
    margin-top: 6%;
}

.content .instagram:hover {
    background-color: #E66306;
    cursor: pointer;
    transform: translateY(5px);
}

.content .snapchat {
    display: block;
    margin-left: auto; margin-right: auto;
    background-color: #FF7C1F;
    width: 80%;
    height: 60px;
    margin-top: 2%; 
}

.content .snapchat:hover {
    background-color: #E66306;
    cursor: pointer;
    transform: translateY(5px);
}

.content .personaldiscord {
    display: block;
    margin-left: auto; margin-right: auto;
    background-color: #FF7C1F;
    width: 80%;
    height: 60px;
    margin-top: 2%; 
}

.content .personaldiscord:hover {
    background-color: #E66306;
    cursor: pointer;
    transform: translateY(5px);
}

.content .github {
    display: block;
    margin-left: auto; margin-right: auto;
    background-color: #FF7C1F;
    width: 80%;
    height: 60px;
    margin-top: 2%; 
}

.content .github:hover {
    background-color: #E66306;
    cursor: pointer;
    transform: translateY(5px);
}

.content .stackoverflow {
    display: block;
    margin-left: auto; margin-right: auto;
    background-color: #FF7C1F;
    width: 80%;
    height: 60px;
    margin-top: 2%; 
}

.content .stackoverflow:hover {
    background-color: #E66306;
    cursor: pointer;
    transform: translateY(5px);
}

.content .gmail {
    display: block;
    margin-left: auto; margin-right: auto;
    background-color: #FF7C1F;
    width: 80%;
    height: 60px;
    margin-top: 2%; 
}

.content .gmail:hover {
    background-color: #E66306;
    cursor: pointer;
    transform: translateY(5px);
}

.content .instagramb {
    display: block;
    margin-left: auto; margin-right: auto;
    background-color: #FF7C1F;
    width: 80%;
    height: 60px;
    margin-top: 2%; 
}

.content .instagramb:hover {
    background-color: #E66306;
    cursor: pointer;
    transform: translateY(5px);
}

@media only screen and (max-width:700px) {
    .content .instagramb {
        display: block;
        margin-left: auto; margin-right: auto;
        background-color: #FF7C1F;
        width: 80%;
        height: 60px;
        margin-top: 2%;
        margin-bottom: 4%;
    }
}

.footer > a {
    display: block;
    text-align: right;
    margin-right: 1%;
    margin-top: 2%;
    font-size: 22px;
    color: #FFF;
    text-decoration: none;
}

@media only screen and (max-width:700px) {
    .footer > a {
        display: block;
        text-align: center;
        font-size: 22px;
        color: #FFF;
        text-decoration: none;
    }
}